<div class="header">
  <a class="close" href="#close">x</a>
  <h2>Login</h2>
</div>
<%= form_for(@resource, :as => :user, :url => session_path(:user)) do |f| %>
  <ul class="ctrl_grp">
    <li>
        <input type="text" name="user[email]" id="id_email">
        <label>Email</label>
        <span class="fff"></span>
    </li>
    <li>
        <input type="password" name="user[password]" id="id_password">
        <label>Password</label>
        <span class="fff"></span>
    </li>
  </ul>
  <div>
      <button class="submit_button" type="submit" name="commit">Login</button>
  </div>
<%end%>